.header-wraper {
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    position: relative;
  
}
.header-element {
    padding: 24px 32px;

}
 .ul-nav {
    display: flex;
    gap: 20px;

}
.action-navigation {
    width: 100px;
    height: 48px;
    border-radius: 32px;
    background-color: blueviolet;
    color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
#burger-bar {
    display: none;
}
.item-a {
    position: relative;
}

.item-a::after {
    content:" " ;
    height: 2px;
    width: 0;
    background-color: blueviolet;
    position: absolute;
    bottom: 0;
    left: 0;
}

.item-a:hover::after {
      width: 100%;
}
  
.conteiner {
    max-width: 1100px;
    width: 90%;
    margin:0 auto;
    display: flex;
    align-items: center;
    column-gap: 130px;

}
.left-block {
    width: 490px;

}
 .action-bg {
    width: 100px;
    height: 48px;
    background-color: blueviolet;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .small-box {
    max-width: 490px;
    height: 48px;
    display: flex;
    column-gap: 20px;
    row-gap: 16px;
    margin-top: 40px;
    align-items: center;
 }

 .right-block {
    width: 490px;
 }
 .bg-image {
    height: auto;
    width: 100%;
 }
.title {
    font-size: 56px;

}




 .wraper {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    


    
  }
  .wraper-box {
    width: 360px;
    align-items: center;
    

    
  }
   .small-wraper {
    display: flex;
    column-gap: 16px;
    align-items: center;
    margin-bottom: 16px;
   }
   .raund {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: blueviolet;
    
   }
  
  .section-bg {
    background-color: #F3F3F3;
    padding-top: 64px;
    padding-bottom: 64px;
  }
  

   .picture-bg{
    background-image: url('../images/bg8.jpg');
    height: 564px;
    width:100%;
    background-image: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

   }

    .bg-block {

       max-width: 540px;
       width: 90%;
       height: 180px;
       border: 1px solid white;
       text-align: center;
       align-items: center;


    }
    

    .text-bg {
      font-size: 40px;
      color: white;
      font-weight: 900px;
    }



    .footer-element {
        padding-top: 96px;
        padding-bottom: 96px;
        padding-right: 150px;
        padding-left: 150px;
        border-color: blueviolet;
        
    }
    


    .footer-block {
        border-width: 1px solid black;
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        
        align-items: center;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: blueviolet;
       
       .adres-item {
        color: black;
        
       }

    }
    
     .footer-box1 {
       margin-bottom: 60px;
       margin-right:30 px;
        max-width: 310px;
      
     }

    .footer-box2{
         width: 210px;
        margin-bottom: 20px;
        
       
    }
    .footer-box3 {
      width: 210px;
      margin-bottom: 20px;
  
    }
    .footer-box4 {
     width: 210px;
     margin-bottom: 20px;
    
    }
     .footer-box5 {
        width: 210px;
        margin-bottom: 20px;
        
     }

     .nav-li {
        display: flex;
        margin: 0 auto;

     }

   
    


























  

  @media(max-width:1024px) {
      
   .conteiner {
    flex-direction: column;
    
     row-gap: 68px;  
     
  }



    .left-block{
        width: 100%;
    }
      .right-block{ 
      width: 100%;
  }
   
     .footer-box5 {
        display: none;
     }

  } 






@media(max-width :744px) {
    .navelement {
        display: none
    }
    #burger-bar {
        display: block;
       
        color: blueviolet;
    }

    .action-navigation {
        display: none;
    }
     .navelement.active {
        display: block;
        
        
     }
     .ul-nav {
        flex-direction: column;
     }
     

     .wraper {
        flex-direction: column;
        row-gap :20px;

     }
     .wraper-box{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
     }


   
    
}

@media(max-width :380px) {
     .navelement{
         display: block;
     }
       
    
    .header-wraper {
        flex-direction: column;
    }
     .ul-nav {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
     }
     #burger-bar{
        position: absolute;
        size: 30px;
        top: 20px;
        right: 15px;
     }
    

     .text-bg {
        font-size: 28px;
     }


     .footer-box1 {
        order: 1;
     }
 }